<div class="top-section">
  <h2>Edit Post</h2>
</div>

<section class="wrapper">
  <%= form_for @house do |f| %>
    <div class="form_meta_field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form_meta_field">
      <%= f.label :img_url %>
      <%= f.text_field :img_url %>
    </div>
    <div class="form_meta_field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>

    <%= f.submit %>
  <% end %>

  <%= form_for @house, method: :delete do |f| %>
    <%= f.submit "Delete", class: "delete" %>
  <% end %>

  <%= link_to 'Back', houses_path %>
</section>
